* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.calculator {
    width: 340px;
    background: #c0b6b6;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(135, 66, 66, 0.4);
}

#display {
    width: 100%;
    height: 60px;
    font-size: 28px;
    text-align: right;
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 18px;
    background: #333;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #444;
}

.clear {
    background: #d9534f;
}

.delete {
    background: #f0ad4e;
}

.equal {
    background: #89d7a3;
}
.operator {
    background: #187f9e;
}